*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: inherit;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3b4242;
}

.title{
  font-size: 1.8rem;
  font-weight: 600;
  color: #3b4242;
}

.title::first-letter{
  text-transform: capitalize;
}