//COLORS

$--color-main: rgb(255, 166, 0);
$--color-secondary: rgb(243, 192, 96);
$--color-border: #ced4da;
$--color-white: rgb(255, 255, 255);
$--color-letter: #3b4242;


//SHADOW

$--shadow-main: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);


//TEXT

$--main-size: 2.4rem;


//MARGINS

$--margin-bottom-sm: 2rem;
$--margin-bottom-m: 4rem;
$--margin-bottom-l: 6rem;

$--margin-top-sm: 2rem;
$--margin-top-m: 4rem;
$--margin-top-l: 6rem;
